<div class="analytics-section" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
    <div class="section-heading" fxLayout="row" fxFlex="20">
        <div class="marker"></div>
        <div class="section-label">
            Website
            <br>
            Analytics
        </div>
    </div>
    <div class="section-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px" fxFlex="80">
        <mat-card fxFlex="45">
            <div>
                <img class="bar-graph" src="../../../assets/icons/bar-graph.png" alt="">
                <p class="bar-graph-title">Active Users</p>
                <p>(+23%) than last week</p>
                <div fxLayout="row" fxLayoutGap="60px">
                    <div>
                        <img class="analytics-icon" src="../../../assets/icons/icons8-analytics-67.png" alt="">
                        <p>Users</p>
                    </div>
                    <div>
                        <img class="analytics-icon" src="../../../assets/icons/icons8-rocket-ship-64.png" alt="">
                        <p>Clicks</p>
                    </div>
                    <div>
                        <img class="analytics-icon" src="../../../assets/icons/icons8-tools-64.png" alt="">
                        <p>Sales</p>
                    </div>
                    <div>
                        <img class="analytics-icon" src="../../../assets/icons/icons8-credit-card-58.png" alt="">
                        <p>Items</p>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="activity-card" fxLayout="column" fxFlex="55">
            <p class="card-title">CUSTOMER ACTIVITIES</p>
            <div class="activity-list" fxLayout="column" *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="bullet"></div>
                    <p>Rajat Singh added 2 products on the
                    <br>
                    cart but didn't order anything</p>
                    <app-action-button text="Take Action ->" [isDisabled]="false"></app-action-button>
                </div>
            </div>
            <div fxLayout="row" class="action-transparent">
                <mat-icon class="launch-icon" color="primary">launch</mat-icon>
                <div fxLayout="column">
                    <p class="button-label">Remarket all your potential customers</p>
                    <button mat-raised-button color="primary">Purchase Analytics</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>