<div class="todo-section" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
    <div class="section-heading" fxLayout="column" fxFlex="20">
        <div fxLayout="row" fxFlex="20">
            <div class="marker"></div>
            <div class="section-label">
                Today's
                <br>
                To Do
            </div>
        </div>
        <app-action-button text="Go to Todo's ->" [isDisabled]="false"></app-action-button>
    </div>
    <mat-card fxFlex="80" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
        <div fxLayout="column">
            <div *ngFor="let todoTask of todoList" class="section-content" fxLayout="row">
                <div class="bullet-point">
                    <mat-icon [ngClass]="todoTask.status == 1 ? 'active' : 'inactive'">fiber_manual_record</mat-icon>
                </div>
                <div class="list">{{ todoTask.task }}</div>
            </div>
        </div>
        <div fxLayout="column">
            <app-action-button text="GO TO BILLINGS ->" [isDisabled]="false"></app-action-button>
            <app-action-button text="GO TO ORDERS ->" [isDisabled]="false"></app-action-button>
            <app-action-button text="CHECK INVENTORY ->" [isDisabled]="false"></app-action-button>
        </div>
    </mat-card>
</div>