.main-sidebar {
    .brand-icon {
        padding-left: 15px;
    }
    .brand-name {
        margin-top: 15px;
        margin-left: 15px;
        font-weight: 900;
        color: #FE4D55;
        @media (max-width: 640px) {
            visibility: hidden;
        }
    }
    .sub-heading {
        margin-left: 20px;
        margin-bottom: 0;
        margin-top: 20px;
        font-weight: 600;
        color: gray;
        @media (max-width: 640px) {
            visibility: hidden;
        }
    }
    .menu-button {
        background-color: #ECECEC;
        @media (max-width: 640px) {
            visibility: hidden;
        }
    }
    mat-icon {
        z-index: 100;
    }
    .plan-card {
        background-color: white;
        border-radius: 10px;
        margin: 20px 15px;
        max-height: 200px;
        @media (max-width: 960px) {
            display: none !important;
        }
        .progress {
            font-size: 12px;
            font-weight: 500;
            color: gray;
            padding: 10px;
            padding-bottom: 0;
            p {
                margin-bottom: 2px;
            }
        }
        mat-progress-bar {
            width: calc(100% - 25px);
            margin-left: 10px;
        }
        .current-plan {
            font-size: 13px;
            font-weight: 500;
            margin: 10px;
            text-align: center;
            color: white;
            background-color: #007E8B;
            border-radius: 10px;
            &:hover {
                background-color: #005d68;
                cursor: pointer;
            }
        }
    }
    .account-details {
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
    }
    .user-image {
        padding-bottom: 10px;
    }
    .user-name {
        margin-bottom: 0;
        @media (max-width: 640px) {
            visibility: hidden;
        }
    }
    .user-email {
        color: gray;
        font-size: 12px;
        line-height: 16px;
        @media (max-width: 640px) {
            visibility: hidden;
        }
    }
}