<div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="80px" class="main-sidebar">
    <div>
        <div fxLayout="row" fxLayoutAlign="start">
            <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                <img class="logo-img" src="../../assets/icons/logo.png" alt="">
            </span>
            <h3 class="brand-name" fxFlex="60">Krenai</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                <mat-icon>grid_view</mat-icon>
            </span>
            <a mat-flat-button class="menu-button">Dashboard</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                <mat-icon>notifications_none</mat-icon>
            </span>
            <a mat-flat-button class="menu-button">Your ToDo's</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
            <h5 class="sub-heading">MANAGE</h5>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon>dashboard</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Store UI</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon>shopping_cart</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Orders</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon>inventory</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Inventory</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon>contacts</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Customers</a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
            <h5 class="sub-heading">GROW</h5>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon>auto_graph</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Marketing</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                    <mat-icon> bar_chart</mat-icon>
                </span>
                <a mat-flat-button class="menu-button">Analytics</a>
            </div>
        </div>
    </div>
    <div>
        <div fxLayout="row" fxLayoutAlign="start">
            <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                <mat-icon>support_agent</mat-icon>
            </span>
            <a mat-flat-button class="menu-button">Help & Support</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <span class="brand-icon" fxLayoutAlign="center center" fxFlex="20">
                <mat-icon>cast_for_education</mat-icon>
            </span>
            <a mat-flat-button class="menu-button">Tutorials</a>
        </div>
        <div class="plan-card" fxLayout="column">
            <div>
                <div class="progress" fxLayout="row" fxLayoutAlign="space-between">
                    <p>PRODUCTS</p>
                    <p>10/100</p>
                </div>
                <mat-progress-bar color="accent" mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div>
                <div class="progress" fxLayout="row" fxLayoutAlign="space-between">
                    <p>STORE</p>
                    <p>1/1</p>
                </div>
                <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div>
                <div class="progress" fxLayout="row" fxLayoutAlign="space-between">
                    <p>SMS</p>
                    <p>1/100</p>
                </div>
                <mat-progress-bar color="accent" mode="determinate" value="5"></mat-progress-bar>
            </div>
            <div class="current-plan">
                Current Plan: Free (₹0/m)
            </div>
        </div>
        <div class="account-details" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
            <span class="brand-icon user-image" fxLayoutAlign="center center" fxFlex="20">
                <mat-icon>account_circle</mat-icon>
            </span>
            <div fxFlex="60">
                <p class="user-name">Rajat Singh</p>
                <p class="user-email">s.rajat55@gmail.com</p>
            </div>
            <p fxFlex="20">...</p>
        </div>
    </div>
</div>